.window{
   
    border-radius: 0.75rem;
    overflow: hidden;
    height: 100%;
    background-color: #0b0b0b;
    color: rgb(168,168,168);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    .nav{
          padding-inline: 0.5rem;
            padding-block: 0.5rem;
        .dots{
            display: flex;
            align-items: center;
            gap: 0.25rem;
            .dot{
            height: 15px;
            width: 15px;
            background-color: #fff;
            border-radius: 50%;
          }
          .red{
            background-color: #eb3535;
            cursor: default;
          }
          .yellow{
            background-color: rgb(247,247,81);
          }
          .green{
            background-color: rgb(27,228,0);
          }
        }
        display: flex;
        gap: 1.5rem;
        align-items: center;
        border-bottom: 1px solid rgba(245,245,245,0.24);
        
    }
    .main-content{
      height: 100%;
    }
    *::-webkit-scrollbar{
      width: 8px;
    }
    *::-webkit-scrollbar-thumb{
      background-color: rgba(168,168,168,0.4);
      border-radius: 4px;
    }
}